body{
   background-position: center;
   background-position-x: center;
   background-position-y: top;
   line-height: 150%;
   width: 80%;
   margin-top: 10px;
   margin-left: 10%;
   margin-right: 10%;

   font-family:'Franklin Gothic Medium';
}

img#foto{
    border-radius: 100%;
    margin-left: 10px
}

div#apresentação{
    background-color: white;
    border-color: black;
    border-style:ridge;
    border-radius: 25px;
}

span#bio{
    position:absolute;
    margin: 5%;
    text-align: left;
}

img#carimbo{
    width: 250px;
    height: 250px;
    margin-left: 50%;
    
}

a#linkGH{
    color: black;
}

div#cs{
    text-align: center;
    
}

div#competencias{
    width: 40%;
}

div#d{
    background-color: white;
    border-color: black;
    border-style:ridge;
    border-radius: 25px;
    margin-top: 10px;
}

div#softskills{
    background-color: white;
    border-color: black;
    border-style:ridge;
    border-radius: 25px;
    margin-left: 50%;
}

ul#softskillslist{
    text-align: left;
}

